html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

#pageBody {
	position: relative;
	min-height: 100%;
}
#logocell {
	width: 61px;
}
.barsmall {
	background-image:url(images/openmrs_green_bar_repeat.gif);
	background-repeat:repeat-x;
	height:27px;
	margin-left: 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #ffffff;
}
#logosmall {
	float: left;
	margin-left: 49px; 
	margin-top:2px;
	position: absolute;
}
#bannerbar {
	text-align:center;
	line-height:40px;
	margin-top:12px;
	width:100%;
}
img.logo-reduced61 {
	width:61px;
	height:61px;
}
img.bar-round-reduced50 {
	height:27px;
	margin-left:-5px;
	margin-top:0px;
}

.navList {
		padding: 5px 0 2px 0;
		margin: 0px;
		text-align: center;
		color: #ffffff;
		width: 100%;
	}
	.navList li {
		padding: 0 15px 0 18px;
		margin-top:0px;
		border-left: 2px solid white;
		display:inline;
		line-height: 1.0em;
		white-space: nowrap;
		font-size: 1.3em;
        font-family: Verdana,Arial,Helvetica,sans-serif;
	}
	.navList > li:first-child {
		border-left-style: none;
	}
	.navList li.firstChild {
		/* IE hack to get around lack of first-child support */
		border-left-style: none;
	}
	.navList a:link, .navList a:active, .navList a:visited,.navList a:hover {
		text-decoration: none;
		color: #ffffff;
	}

* html #pageBody {
	height: 100%;
}

* {
	font-family: Verdana, 'Lucida Grande', 'Trebuchet MS', Arial, Sans-Serif;
    -moz-box-sizing: border-box;  /* Use IE-like Border-Box model */
}

h1, h2, h3, h4, h5 {
	margin-top: 5px;
	margin-bottom: 7px;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: underline;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
 	text-align: left;
 	z-index: 6;
}

#openmrs_msg {
	background: url(images/info.gif) no-repeat center left;
	background-color: lightyellow;
}

#openmrs_error {
	background: url(images/error.gif) no-repeat center left;
	background-color: lightpink;
}

#openmrs_msg, #openmrs_error { 
	margin-top: 3px;
	margin-bottom: 5px;
	border: 1px dashed lightgrey;
	padding: 2px 2px 2px 18px;
}

#userBar {
	color: #333333;
	line-height: 26px;
	margin: 0px;
    padding-right: 5px;
	padding-top: 3px;
    position: absolute;
    right: 5px;
    text-align: right;
	top: 0;
	z-index: 10;
}
	#userBar a:link, #userBar a:active, #userBar a:visited, #userBar a:hover,
	#content a.offColor, #content a.offColor:link, #content a.offColor:active, #content a.offColor:visited, #content a.offColor:hover {
		color: #f57439;
	}
	#userBar span {
		border-left: 1px solid #333333;
		padding: 0 5px 0 5px;
	}
	#userBar > span:first-child {
		border-left-style: none;
	}
	#userBar span.firstChild {
		/* IE hack to get around lack of first-child support */
		border-left-style: none;
	}

#banner {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	z-index: 6;
	width: 100%;
	}
	
#content {
	margin: 0px 0 0 0;
	padding: 80px 10px 10px 10px;
	font-size: 1.2em;
	background-color: #ffffff;
	z-index: 8;
}
	#content a, a:link, #content a:active, #content a:visited, #content a:hover {
		color: #003366;
	}	

#contentMinimal {
	margin: 0px 0 0 0;
	width: 100%;
	padding: 3px;
	font-size: 1.2em;
	background-color: #ffffff;
	z-index: 8;
}
	#contentMinimal a, a:link, #contentMinimal a:active, #contentMinimal a:visited, #contentMinimal a:hover {
		color: #003366;
	}

#footer {
	position: relative;
	margin-top: -1.7em;
	width: 100%;
	font-size: .8em;
	text-align: left;
	z-index: 0;
	height: 1.7em;
	background-color: #eeeeee;
}

#footer a, a:link, #footer a:active, #footer a:visited, #footer a:hover {
	color: #003366;
}

#footer span {
	margin-right: 5px;
}

#buildDate, #codeVersion, #databaseVersion, #databaseVersionError {
	color: #999999;
}

#footerInner {
	border-top: 1px solid #bbbbbb;
	padding: 2px 0 0 4px;
}

#footer #poweredBy {
	float: right;
}

#footer #poweredBy img {
	height: 1.4em;
}

#footer #poweredBy a, #poweredBy a:link, #poweredBy a:active, #poweredBy a:visited {
	text-decoration: none;
}

#menu {
	padding-left: 2px;
	width: 95% ;
}

#menu li {
	display: inline;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 2px;
	white-space: nowrap;
}

#menu li.first {
	border-left-width: 0px;
}

#menu .active a{
	font-weight: bold;
	text-decoration: none;
}

#patientTable {
	width: 100%;
}

thead th {
	text-align: left;
	font-weight: bold;
}

#patientSummary { font-size: 1.1em; }
#patientSummary .boxHeader { font-size: 1.55em;}
#patientSummary { /*width: 700px;*/ }

.patientSummaryLabel { font-size: small; text-align: right }
.patientSummaryValue { color: #2222ff }
.voidButton {
	border: 1px solid gray;
	background-color: lightpink;
	font-size: .6em;
	color: black;
	margin: 2px;
	padding: 1px;
	cursor: pointer;
}

#headerAccompagnateur .patientSummaryValue { color: black; }

.obsDate {
	font-size: 0.7em;
}

#breadcrumbHeader {
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	padding:5px 5px 5px 5px;
}

#patientHeader {
	text-align: left;
	display: block;
}

#patientHeaderPatientName, #patientHeaderPreferredIdentifier {
	font-weight:bold;
	font-size:1.6em;
	margin-right:10px;
	vertical-align: middle;
	text-align: left;
	float: left;
}
#patientHeaderPreferredIdentifier {
	float: right;
	text-align: right;
}

#patientHeaderPatientIdentifierType {
	vertical-align: middle;
	font-weight: normal;
	font-size: .65em;
	padding-bottom: .45em;
}

table#patientHeaderGeneralInfo {
	clear: both;
	width: 100%;
	}
	table#patientHeaderGeneralInfo td {
		text-align: left;
		vertical-align: top;
		padding-right: 8px;
		padding-left: 8px;
	}
	
table td#patientHeaderPatientGender {
	padding: 0px;
	width: 25px;
}

table#patientActions,table#outcomeFormTable{
	width: 100%;
}
table td#patientActionsOutcomeReason,table td#patientActionsOutcomeDate {
	width: 35%;
}

#patientHeaderPatientAge, #patientHeaderHealthCenter, #patientHeaderShowMoreIdentifiers, #patientDashboardHeaderExtension, .patientHeaderPersonAttribute {
	width: 1%;
	white-space: nowrap;
	line-height: 25px;
}
	
#patientHeaderPatientBirthdate {
	white-space: nowrap;
	vertical-align: bottom;
	padding: 0px;
}	

.patientHeaderPatientIdentifier {
	white-space: nowrap;
}

table td#patientHeaderOtherIdentifiers {
	text-align: right;
	vertical-align: middle;
}

#patientHeaderShowMoreIdentifiers {
	cursor: pointer;
	white-space: nowrap;
	-moz-user-select: none;
}

table#patientHeaderObs td {
	/*border-right: 1px solid black;*/
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
tr td#patientHeaderObsWeight{
	margin-left: 0px;
	padding-left: 0px;	
}
tr td#patientHeaderObsRegimen{
	border-right: 0px solid white;	
}
tr td#patientHeaderObsReturnVisit {
	display: none;
}

#patientHeader a.offColor, #patientHeader a.offColor:link, #patientHeader a.offColor:active, #patientHeader a.offColor:visited, #patientHeader a.offColor:hover {
	color: #ffffff;
}

#patientActionsCauseOfDeath a, #patientActionsCauseOfDeath a:link, #patientActionsCauseOfDeath a:active, #patientActionsCauseOfDeath a:visited, #patientActionsCauseOfDeath a:hover {
	color: #003366;	
}


#patientHeaderRegimen {
	font-weight: bold;
	color: navy;
}

#patientDashboardHeader td {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align:bottom;
	text-align:left;
}

#patientSubheader th {
	color: navy;
	font-weight: bold;
}

#patientSubheaderExited th {
	color: #555555;
	font-weight: bold;
}

#patientTreatmentHeader {
	font-size:0.9em;
	text-align: left;
	color:navy;
	display:block;
	border:1px solid navy;
}
#patientTreatmentHeader td {
	vertical-align:top;
}
table.patientEncounters { 
	width: 100%;
	margin-right: 20px;
	border:none;
}
table.patientRecentObs {
	margin-right: 20px;
	border:none;
}
table.patientRecentObs th {
	border-bottom: 1px solid navy;
	text-align: left;
	font-weight: bold;
	padding: 0em 0.5em;
}
table.patientRecentObs td {
	padding: 0em 0.5em;
}

table.patientTreatmentPrograms {
	border:none;
	margin-right: 20px;
	vertical-align:top;
}
table.patientTreatmentPrograms th {
	border-bottom: 1px solid navy;
	text-align: left;
	font-weight: bold;
	padding: 0em 0.5em;
}
table.patientTreatmentPrograms td {
	padding: 0em 0.5em;
}

#patientTabs {
	font-size: 0.8em;
	margin: 10px auto 7px auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid navy;
	width: 99%;
}

#patientTabs ul, #patientTabs li {
	display: inline;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
}

#patientTabs a:link, #patientTabs a:visited {
	border: 1px solid navy;
	font-size: small;
	font-weight: bold;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: navy;
	background: #E0E0F0;
}
#patientTabs a:link.active, #patientTabs a:visited.active {
	border-bottom: 1px solid #FFFFFF;
}
#patientTabs a.current, #patientTabs a:link.current, #patientTabs a:visited.current, #patientTabs a.current:hover {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	color: navy;
	text-decoration: none;
}
#patientTabs a:hover {
	text-decoration: underline;
}

#patientDashboardDemographics table {
	width: 95%;
	padding: 5px 5px 5px 5px;
	font-size: small; 
}
#patientDashboardDemographics table th {
	text-align:left;
	text-decoration:underline;
}

.dateDisplayField {
	border: 1px solid cadetblue;
	padding: 1px;
	width: 8em;
	font-size: .9em;
}

.patientIdentifier {
	width: 7em;
}
.box, .boxHeader, .boxRed, .boxHeaderRed, .boxExited, .boxHeaderExited {
	border: 1px solid #1aac9b;
	width: 100%;
	padding: 5px 2px 5px 2px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.box .noBorder {
	border: 0px;
}

.column {
	float: left;
	padding: 2px 5px 2px 5px;
}

.columnEnd {
	clear: both;
}

.box>*, .boxRed>*, .boxExited>* {
	font-size: .9em;
}

.boxHeader {
	background-color: #1aac9b;
	color: white;
	display: block;
	padding: 2px;
}

.boxRed {
	border: 1px solid #b82619;
}

.boxExited {
	border: 1px solid #999999;
}

.boxHeaderRed {
	color: white;
	display: block;
	padding: 2px;
	border: 1px solid #b82619;
	background-color: #b82619;
}

.boxHeaderExited {
	color: white;
	display: block;
	padding: 2px;
	border: 1px solid #999999;
	background-color: #999999;
}

#content .boxHeader a:link, #content .boxHeader a, #content .boxHeader a:visited, #content .boxHeader a:hover {
	color: white;
}

.boxHeader .oddRow {
  background-color: #8FABC7;
}

.boxHeader .evenRow {
  background-color: #BBCCF7;
}

.boxHeader .popupSearchForm {
  background-color: #8FABC7;
}
	
#selectFormForm {
	padding: 2px;
	}
	#selectFormForm div {
		margin-bottom: 7px;
		font-size: 1.03em;
	}

.retired, .voided, .retired *, .voided * {
	text-decoration: line-through;
}

.error {
	background-color: lightpink;
}
	span.error, div.error {
		border: 1px dashed darkred;
		padding: 1px 6px 1px 6px;
		margin-left: 4px;
		margin-right: 4px;
		vertical-align: middle;
	}
	input.error, textarea.error {
		background-color: white;
		color: darkred;
	}
	
.tooltip {
	border: 1px solid darkgrey;
	background-color: #ffff80;
	margin: 2px;
	padding: 3px;
}
	
.button {
	border: 1px solid darkgrey;
	background-color: whitesmoke;
	cursor: pointer;
	margin: 2px;
	padding: 3px;
}

.smallButton {
	font-size: .7em;
	border: 1px solid lightgrey;
	background-color: whitesmoke;
	cursor: pointer;
	margin: 1px;
}
.closeButton {
	border: 1px solid gray;
	background-color: lightpink;
	font-size: .6em;
	color: black;
	float: right;
	margin: 2px;
	padding: 1px;
	cursor: pointer;
}

.retiredMessage, .voidedMessage {
	border: 1px solid firebrick;
	background-color: white;
	font-weight: bold;
	padding: 1px;
	margin: 2px;
	color: white;
	}
	.retiredMessage, .voidedMessage div {
		background-color: firebrick;
		padding: 2px;
	}
.searchIndex, .searchIndexHighlight {
	text-align: right;
	vertical-align: top;
	width: 1.8em;
}
.searchIndexHighlight, .searchHighlight {
	background-color: 	#F0E68C;
}
tr.searchHighlight {
	cursor: pointer;
	background-color: #F0E68C;
}

.popupSearchForm {
	width: 500px;
	padding: 0.4em;
	background-color: whitesmoke;
	border: 1px solid gray;
	position: absolute;
	display: block;
	z-index: 10;
	margin: 5px;
	overflow-y: auto;
}

input[type="text"], input[type="password"] {
	padding: 1px;
	border: 1px solid cadetblue;
}

input, textarea {
	font-size: 0.9em;
}

a.conceptHit {
	text-decoration: none;
	display: block;
}
a:hover.searchHit {
	background-color: khaki;
}
a:hover span.mainHit {
	text-decoration: none;
}
a span.mainHit {
	text-decoration: underline;
}
a span.additionalHit {
	color: gray;
	text-decoration: none;
}
.description {
	font-size: .9em;
	padding-left: 10px;
	color: gray;
}
#searchInfoBar, #searchInfoBar a {
	background-color: whitesmoke;
}
#searchInfoBar {
	font-size: 1em;
	text-align: right;
	line-height: .9em;
	color: black;
	padding: 2px 0 2px 0;
	margin: 1px 0 1px 0;
	font-style: italic;
}
#searchPagingBar {
	font-size: 1em;
	padding: 2px 0 2px 0;
	width: 100%;
	text-align: center;
}
#disabledZone {
	position: fixed;
	top: 0px;
	right: 0px;
	padding:4px;
	margin-top: 3em;
	font-size: 1.4em;
	background-color: red;
	color: white;
}
fieldset {
	margin: 0px;
	padding: 3px;
	border: 1px solid cadetblue;
}
#optionsTOC {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 8px;
	width: 140px;
	}
	#optionsTOC li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		border: 1px solid white;
	}
	#optionsTOC li.selected {
		border-color: cadetblue whitesmoke cadetblue cadetblue;
		border-width: 1px;
		border-style: solid dashed solid solid;
		margin-right: -1px;
	}
	#optionsTOC li a {
		display: block;
		padding: 3px;
	}

.sideNote {
	border: 1px solid burlywood;
	background-color: lightyellow;
	padding: 2px;
	margin: 1px;
}

.subnote {
	background-color: whitesmoke;
	border: 1px solid lightgray;
	padding: 2px;
	font-size: .8em;
	color: gray;
}

.tableTitle {
	text-align: center;
	background-color: whitesmoke;
}

.tableGroup {
	border-top: 1px solid #1aac9b;
    background: #e0e0f0;
    border-bottom: 1px solid #1aac9b;
}

.oddRow {
	background-color: white;
}

.evenRow {
	background-color: whitesmoke;
}
	
.webappName {
	text-transform:capitalize;
}

#alertOuterBox {
	margin: -7px 0 10px 0;
	border: 1px solid lightgrey;
	border-top-width: 0px;
	max-height: 6em;
}
#alertInnerBox {
	max-height: 4.3em;
	overflow-y: auto;
	padding: 2px;
}
.alert {
	margin-bottom: 1px;
	padding: 0 2px 0 2px;
	border-top: 1px dotted lightgrey;
	background-color: white;
	}
	.alert:first-child {
		border-top-width: 0px;
	}
	.alert.firstChild {
		/* IE hack to get around lack of first-child support */
		border-top-width: 0px;
	}
	
#alertBar {
	border-top: 1px solid lightgrey;
	font-size: .8em;
	font-weight: bold;
	padding-left: 2px;
	background-color: lightpink;
	}
	#alertBar img {
		vertical-align: middle;
	}
.markAlertRead, .markAlertRead:link, .markAlertRead:visited {
	float: right;
	padding: 0 3px 0 3px;
	text-decoration: none;
	}
.markAlertText {
	font-size: .8em;
	}	
	.markAlertRead img {
		border-width: 0px;
		height: 1em;
		margin: 1px 1px 0 1px;
		vertical-align: middle;
	}
.smallWidth {
	width: 140px;
	}
	select.smallWidth {
		width: 140px;
	}
.mediumWidth {
	width: 240px;
	}
	select.mediumWidth {
		width: 240px;
	}	
.largeWidth {
	width: 340px;
	}
	select.largeWidth {
		width: 340px;
	}
.smallMessage {
	font-size: .9em;
	color: grey;
}
#popupTray {
	float: right;
	position: fixed;
	right: 0px;
	top: 60px;
	width: 20px;
	z-index: 7;
}
.popupTrayTitle {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
#patientSetTray {
	z-index: 7;
	border-width: 2px 0px 2px 2px;
	border-color: black;
	border-style: solid;
	background-color: whitesmoke;
}
#patientSetBox {
	border: 1px solid black;
	background: #ffffbb;
	position: absolute;
	right: 15px;
	top: 0px;
	width: 400px;
	z-index: 7;
}

#analysisPatientSetBox {
	padding: 4px;
	margin: 4px 20px 4px 0px;
	border: 1px black dashed;
	background-color: #f4f4f4;
}
.analysisShortcutBarButton {
	background-color: #f0f0a0;
	padding: 0.2em;
	text-decoration: none;
}
.analysisShortcutMenu {
	border: 1px solid black;
	background-color: #f0f0a0;
	position: absolute;
	left: 0px;
	top: 1.35em;
	width: 250px;
	z-index: 1;
}
#stackTrace {
	display: none;
	font-size: 11px;
	padding: 2px;
	width: 585px;
}

#regimenPortlet a.boxHeader, a:link.boxHeader, a:visited.boxHeader, a:active.boxHeader, a:hover.boxHeader {
	color: #ffffff; 
}

#exceptionMessage {
	background-color: white;
	padding: 1px;
	color: black;
}

#regimenPortlet a.boxHeader {
	color: #ffffff;
}

span.noOrdersMessage {
	font-style: italic;
}

.encounterFormTable tr {
	font-size: 0.9em;
	}
	.encounterFormTable th {
		background-color: whitesmoke;
	}
	.encounterFormTable .encounterViewLabel {
		text-align: left;
	}
	.encounterFormTable .encounterViewObsGroup {
		font-weight: bold;
	}
	.encounterFormTable .encounterViewObsConcept {
		font-size: .9em;
	}
	.encounterFormTable .encounterViewObsValue {
		font-weight: bold;
		white-space: pre;
	}
	.encounterFormTable .encounterViewObsDatetime {
		font-size: .9em;
	}
	.encounterFormTable .evenRow {
		background-color: white;
	}
	.encounterFormTable .oddRow {
		background-color: white;
	}
	
	/*
	.encounterFormTable {
		width: 100%;
	}
	.encounterFormInnerTable {
		width: 100%;
	}
	.encounterFormTable .encounterViewLabel {
		text-decoration: italic;
		font-weight: normal;
	}
	.encounterFormTable .encounterViewObsGroup {
		font-weight: normal;
		font-size: .9em;
	}
	.encounterFormTable .encounterViewObsConcept {
		xfont-weight: bold;
		font-size: 1.05em;
		width: 45%;
	}
	.encounterFormTable .encounterViewObsValue {
		font-weight: normal;
		white-space: pre;
	}
	.encounterFormTable .encounterViewObsAnswer {
		padding-left: 1px;
	}
	.encounterFormTable .encounterViewObsDatetime {
		xfont-size: 1.05em;
	}
	.encounterFormTable .evenRow {
		background-color: white;
	}
	.encounterFormTable .oddRow {
		background-color: whitesmoke;
	}
	*/
	
table#obs td.obsValue {
	white-space: pre;
}

#eventCalendarPortlet {
	font-size: 0.8em;
}

.listItemBox {
	width: 440px;
	padding: 2px;
	border: 1px solid lightgray;
	float: left;
	background-color: #EFEFEF;
	}
	.listItem {
		padding: 2px;
		float: left;
		margin: 2px;
		width: 210px;
		font-size: .9em;
		border: 1px solid lightgrey;
		background-color: white;
	}
	.listItem input {
		float: left;
		vertical-align: middle;
		margin: 2px 2px 0px 2px;
	}
	.listItem label {
		float: left;
		width: 184px;
		padding: 0px;
		margin: 0px;
	}
	.listItemChecked { 
		background-color: #8FABC7;
		color: white;
	}
	
.instructions {
	font-size: 0.8em;
}

.addLink {
	font-size: 0.9em;
}

table.thinBorder {
	border: 1px black solid;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 2px;
}

table.thinBorder td {
	border: 1px black solid;
	padding: 3px;
}

table.thinBorder th {
	border: 1px black solid;
	padding: 3px;
}

table.borderedTable {
	border: 2px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 2px;
}

table.borderedTable th {
	background-color: whitesmoke;
	border: 2px solid black;
	padding: 3px;
}

table.borderedTable td {
	border: 1px solid black;
	padding: 3px;
}

th.smallHeader {
	font-weight: normal;
	font-size: smaller;
}

#patientPrintableSummary {
	font-size: 1.0em; 
}

.highlighted, .highlight {
	background-color: #FFFF6E;
}

.dashedAndHighlighted {
	border: 1px black dashed;
	background-color: #FFFF6E;
}

.datePatternHint {
	font-size: 0.7em;
}

#patientSetBatchEntryBox {
	border: 1px black solid;
	background-color: white;
	margin: 4px;
	padding: 4px;
}

#batchEntryStepOne {
	border: 1px black solid;
	background: #c7d5e3;
	margin: 4px;
	padding: 4px;
}

#batchEntryStepTwo {
	margin: 4px;
}

.batchEntrySavedMessage {
	color: green;
}

.patientRegimenDrugName {
	font-weight: bold;
	font-size: 1.1em;
}

.summaryPatientName {
	font-size: 1.1em;
}

#patientDashboardSummary {
	font-size: 0.7em; 
}

table td#summaryHeaderPatientGender {
	width: 25%;
	vertical-align: middle;
	padding: 0px;
}
	
#summaryHeaderPatientAge {
	white-space: nowrap;
	width: 25%;
	text-align: right;
	vertical-align: middle;
	padding: 0px;
}	

#summaryHeaderPatientIdentifiers {
	text-align: right;
}

#triggeredStateConversion td, th {
	padding-left: 5px;
	padding-right: 5px;
}

#outcomeFormTable {
	border: 1px dotted #ffffff;
}

#patientTabs.Exited, #patientTabs.Dead {
	margin: 10px auto 7px auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #555555;
	width: 99%;
}

#patientTabs.Exited ul, #patientTabs.Exited li, #patientTabs.Dead ul, #patientTabs.Dead li {
	display: inline;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
}

#patientTabs.Exited a:link, #patientTabs.Exited a:visited, #patientTabs.Dead a:link, #patientTabs.Dead a:visited {
	border: 1px solid #555555;
	font-size: small;
	font-weight: bold;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: #555555;
	background: #bbbbbb;
}
#patientTabs.Exited a:link.active, #patientTabs.Exited a:visited.active, #patientTabs.Dead a:link.active, #patientTabs.Dead a:visited.active {
	border-bottom: 1px solid #FFFFFF;
}
#patientTabs.Exited a.current, #patientTabs.Exited a:link.current, #patientTabs.Exited a:visited.current, #patientTabs.Exited a.current:hover, #patientTabs.Dead a.current, #patientTabs.Dead a:link.current, #patientTabs.Dead a:visited.current, #patientTabs.Dead a.current:hover {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	color: #555555;
	text-decoration: none;
}
#patientTabs.Exited a:hover, #patientTabs.Dead a:hover {
	text-decoration: underline;
}

#cohortSearchTabs {
	margin: 10px auto 0px auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid navy;
}

#cohortSearchTabs ul, #cohortSearchTabs li {
	display: inline;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
}

#cohortSearchTabs a:link, #cohortSearchTabs a:visited {
	border: 1px solid navy;
	font-size: small;
	font-weight: bold;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: navy;
	background: #E0E0F0;
}
#cohortSearchTabs a:link.active, #cohortSearchTabs a:visited.active {
	border-bottom: 1px solid #FFFFFF;
}
#cohortSearchTabs a.current, #cohortSearchTabs a:link.current, #cohortSearchTabs a:visited.current, #cohortSearchTabs a.current:hover {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	color: navy;
	text-decoration: none;
}
#cohortSearchTabs a:hover {
	text-decoration: underline;
}

.inline ul, .inline li {
	display: inline;
	list-style-type: none;
	padding: 0px;
}
.forgotPasswordLink {
	font-size: small;
}
.required {
	color: red;
	font-weight: bold;
}
.user .personName {
	font-size: 0.8em;
}
/* BEGIN- css properties for the search widgets */
#openmrsSearchTable tbody tr.even.row_highlight {
	 background-color: #F0E68C;
}
#openmrsSearchTable tbody tr.odd.row_highlight {
	 background-color: #F0E68C;
}
.row_highlight {
	 background-color: #F0E68C !important;
}
.verbose{
	text-align: left; padding-left: 15px;
}
.verbose:hover{
	background-color: #F0E68C !important;
}
img#spinner{
	vertical-align: middle;
}
#openmrsSearchTable tbody tr:hover {
	background-color: #F0E68C; cursor: pointer;
}
#pageInfo{
	text-align:right; font-style: italic;
}
#openmrsSearchTable{
	padding-bottom: 10px;
}
div.paging_full_numbers{
	width:auto !important;
}
#minCharError{
	visibility: hidden;
}
.searchWidgetContainer{	
	padding: 5px 5px 5px 5px;
}
span#searchWidgetNotification{
	color: #FF0000; font-style: italic;
}
span#loadingMsg{
	font-weight: bold; margin-left: 10px; font-style: italic;
}
.dataTables_info{
	font-weight: bold
}
div#openmrsSearchTable_wrapper{
	min-height:0px; height: auto !important;
}
input#inputNode{
    width: 210px;
}
/* END- css properties for the search widgets */
.ui-autocomplete {
	max-height: 60%;
	overflow-y: auto;
	overflow-x: hidden;
}
.autocompleteresult {
	white-space: nowrap;
}
.autocompleteresult .preferredname {
	color: gray;
}
.autocompleteresult .hit {
	font-weight: bold;
}
span.otherHit{
	color: gray;
}
.male {
	color: blue;
	font-family: Arial Unicode;
}
.female {
	color: pink;
	font-family: Arial Unicode;
}
.mergePatientsTab{
	background-color: #E8E6E6; border: 1px solid black; padding: 5px 5px 0px 5px; cursor: pointer; width: 85px;
		
}
.mergePatientsSelectedTab{
	background-color: #FFFFFF; border: 1px solid black; padding: 5px 5px 0px 5px; cursor: pointer; border-bottom: none; width: 85px;
}
.mergePatientsTabsColumn{
	text-align: center;
}
.mergePatientsTabSpaces{
	border-bottom: 1px solid black; 
}
.mergePatientsTabDiv{
	width:85px;
}
.form_align_left{
	text-align: left;
}
.hidden{
	display: none
}
.lightBorderBox{
	border: 1px solid lightgrey
}
.content_align_center{
	text-align: center;
}
.alignRight{
	text-align: right;
}
div#openmrsSearchTable_length{
	text-align: left; float: left; padding-top: 5px;
}
tr.headerRow{
	background-color: #CCCCCC;
}
table.left-aligned-th th {
	text-align: left
}
td.dataTables_empty{
	background-color: #BBCCF7;
}
td.dataTables_empty:hover{
	background-color: #BBCCF7;
}
.localeSpecific td {
	background-color: whitesmoke;
}
a.selectedTab {
	background-color: whitesmoke;
	font-weight:bold;
	text-decoration: none;
}